<h1> Shall we play a word game? It will be the most difficult thing you have ever encountered!</h1>


<form action='/show_game'>

<div class='form-group'>
  <label for='user_entry'>Enter your original sentence here:</label>
  <input id='user_entry' name='user_entry' class='form-control' type="text">
</div>


<button type='submit' class='btn-success'>Click here to change your input into the most difficult puzzle, EVER!</button>
</form>
