<h1> Shall we play a word game?</h1>
  <p><h4>It will be the most difficult thing you have ever encountered!</p></h4>


<form action='/show_game'>

<div class='form-group'>
  <label for='words'>Enter your original sentence here:</label>
  <input id='words' name='words' class='form-control' type="text">
</div>


<button type='submit' class='btn-success'>send</button>
</form>
