<h1> Try to decipher this encrypted sentence below.<h1>

  <div class="container">
    <%= @words %>
  </div>

<p><h3> Were you successful? If so, You have a job waiting for you at The Pentagon!</h3></p>
