<h1> Try to decipher this super difficult encryption, if you dare!<h1>

  <div class="container">
    <%= @string %>

  </div>

<p><h1> Were you successful? If so, You have a job waiting for you at The Pentagon!</h1></p>
